name: Basic RG Workflow

on: [push]

jobs:
  TerraformInit:
    name: Terraform Init
    runs-on: self-hosted
    steps:
    - name: Checkout
      uses: actions/checkout@v5.0.0
    - name: Azure Login   
      uses: Azure/login@v2.3.0
      with:
       creds: ${{ secrets.AZURECREDENTIAL }}
    - name: Terraform init 
      run: Terraform init
      working-directory: Parent_Module

  TerraformPlan:
    name: Terraform Plan
    runs-on: self-hosted
    needs: TerraformInit
    environment: sunil
    steps:
    - name: Azure Login   
      uses: Azure/login@v2.3.0
      with:
       creds: ${{ secrets.AZURECREDENTIAL }}
    - name: Terraform Init
      run: Terraform init
      working-directory: Parent_Module

    - name: Terraform Apply
      run: Terraform apply --auto-approve
      working-directory: Parent_Module
      
 

          
          
