name: Basic RG Workflow

on: workflow_dispatch

jobs:
  TerraformInit:
    name: Terraform Init
    runs-on: self-hosted
    steps:
    - name: Checkout
      uses: actions/checkout@v5.0.0
      
 

          
          
